@use "../abstracts" as abs;
.crew{
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 20vh 5vw 0 5vw;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  @media only screen and (max-width: abs.$bp-medium){grid-row-gap: 5rem; padding: 15vh 2.5vw 5rem 2.5vw;}
  & .swiper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 70vh 5vh;
    &-pagination{
      display: flex;
      width: 100%;
      gap: 2rem;
      max-height: 10rem;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      @media only screen and (max-width: abs.$bp-medium){
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        align-items: center;
        justify-content: center;
      }
      &-bullet{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        background-color: #494949;
        &-active{background-color: abs.$color-white;}
      }
    }
    &-wrapper{
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }
    &-slide{
      cursor: default;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: 1fr;
      align-items: center;
      font-size: 1.8rem;
      color: abs.$color-white;
      @media only screen and (max-width: abs.$bp-medium){
        grid-template-rows: min-content 1fr;
        align-items: start;
        justify-items: center;
        grid-row-gap: 2.5rem;
      }
      &__info{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        grid-column: 1 / 2;
        & span{
          font-size: 3.2rem;
          font-family: abs.$font-secondary;
          opacity: .5;
        }
        & p{
          font-size: 1.8rem;
          line-height: 3.2rem;
          color: abs.$color-lightblue;
          width: 75%;
          @media only screen and (max-width: abs.$bp-medium){
            width: 90%;
          }
        }
        @media only screen and (max-width: abs.$bp-medium){
          grid-row: 2 / 3;
          grid-column: 1 / -1;
          align-items: center;
        }
      }
      &__img{
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        & img{
          width: 75%;
          object-fit: contain;
          @media only screen and (max-width: abs.$bp-medium){
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
        @media only screen and (max-width: abs.$bp-medium){
          grid-row: 1 / 2;
          grid-column: 1 / -1;
        }
      }

    }
  }
}



