@use "../abstracts" as abs;
.destination{
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 5rem;
  padding: 20vh 5vw 5vh 5vw;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  @media only screen and(max-width: abs.$bp-medium){
    padding: 15vh 0 5vh 0;
    justify-items: center;
  }
  & .planet{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: min-content 1fr;
    grid-row-gap: 5rem;
    @media only screen and(max-width: abs.$bp-largest){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2,min-content) 1fr;
      justify-items: center;
      grid-row-gap: 1.5rem;
    }
    &__img{
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      height: 100%;
      justify-self: center;
      @media only screen and(max-width: abs.$bp-largest){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
      }
      @media only screen and(max-width: abs.$bp-medium){
        height: 60%;
        align-self: center;
      }
    }

    &__nav{
      height: 4rem;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      @media only screen and(max-width: abs.$bp-largest){
        grid-column: 1 / -1;
        grid-row: 2 / 3;
      }
      &--list{
        height: 100%;
        display: flex;
        gap: 4rem;
        list-style: none;
        cursor: pointer;
        &-item{
          height: 100%;
        }
        @media only screen and(max-width: abs.$bp-medium){
          gap: 2rem;
        }
      }
    }

    &__info{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,min-content);
      max-width: 65%;
      cursor: default;
      @media only screen and(max-width: abs.$bp-largest){
        grid-column: 1 / -1;
        grid-row: 3 / 4;
      }
      @media only screen and(max-width: abs.$bp-medium){
        max-width: 85%;
      }
      &--header{
        grid-column: 1 / -1;
        @media only screen and(max-width: abs.$bp-medium){
         font-size: 5.6rem;
        }
      }
      &--text{
        grid-column: 1 / -1;
        color: abs.$color-white;
        font-family: abs.$font-primary;
        font-size: 1.8rem;
        line-height: 3.2rem;
        padding-bottom: 2.5rem;
      }
      &--detail{
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-top: .25rem solid #383B4B;
        & span{
          color: abs.$color-white;
          font-size: 2.8rem;
          font-family: abs.$font-secondary;
          text-transform: uppercase;
        }
      }
      &--distance{grid-column: 1 / 2;}
      &--time{grid-column: 2 / 3;}
    }
  }
}