@use "../abstracts" as abs;
.header{
  //Position properties
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  padding: 5vh 0 0 5vw;
  //Display properties
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: abs.$bp-largest){height: 15vh; padding: 2.5vh 0 0 2.5vw}
  &__desktop-nav{
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 50%;
    backdrop-filter: blur(1rem);
    &--list{
      height: inherit;
      display: flex;
      align-items: center;
      gap: 5rem;
      list-style: none;
      @media only screen and (max-width: abs.$bp-largest){gap: 2.5rem;}
      &-item{
        display: flex;
        align-items: center;
        height: inherit;
        & .heading-3{
          height: inherit;
          display: flex;
          align-items: inherit;
        }
        &--link{
          display: flex;
          align-items: center;
          height: inherit;
          color: inherit;
          text-decoration: none;
          & span{font-weight: abs.$font-weight; margin-right: 1rem;}
        }
      }
    }
  }
  &__hamburger{
    z-index: 11;
    margin-right: 5vw;
  }
  &__mobile-nav{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(151, 151, 151,.04);
    backdrop-filter: blur(2.5rem);
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 20vh 0 0 5%;
    &--list{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      list-style: none;
      &-item{
        width: 100%;
        & .heading-3{
          width: 100%;
          display: flex;
          align-items: inherit;
        }
        &--link{
          width: 100%;
          display: flex;
          align-items: center;
          color: inherit;
          text-decoration: none;
          & span{font-weight: abs.$font-weight; margin-right: 1rem;}
        }
      }
    }
  }
}