@use "../abstracts" as abs;
.mobile-nav{
  z-index: 10;
  padding: 15vh 0 0 5%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  display: flex;
  background-color: rgba(151, 151, 151,.04);
  backdrop-filter: blur(2.5rem);
  -ms-transform: translateX(-75%);
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -o-transform: translateX(-75%);
  transform: translateX(75%);
  &--list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    list-style: none;
    &-item{
      width: 100%;
      & .heading-3{
        width: 100%;
        display: flex;
      }
      &--link{
        width: 100%;
        color: inherit;
        text-decoration: none;
        & span{font-weight: abs.$font-weight; margin-right: .5rem;}
      }
    }
  }
}