@use "../abstracts" as abs;
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family: abs.$font-primary;
  font-weight: abs.$font-thin;
}

::selection{
  color: #222;
  background-color: abs.$color-lightblue;
}

.main{
  overflow: hidden;
  position: relative;
}
